<html>
<head>

<script src="../vendor/jquery/jquery.min.js"></script>

<style type="text/css">
div {
	padding: 8px;
}
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Donde Invierto WebApp</title>

<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">


<!-- DataTables CSS -->
<link href="../vendor/datatables-plugins/dataTables.bootstrap.css"
	rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="../vendor/datatables-responsive/dataTables.responsive.css"
	rel="stylesheet">

<!-- Social Buttons CSS -->
<link href="../vendor/bootstrap-social/bootstrap-social.css"
	rel="stylesheet">

<!-- Custom CSS -->
<link href="../dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	 <div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="menu.html">¿DÓNDE INVIERTO?</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li><a href="menu.html"><i
								class="fa fa-bar-chart-o fa-fw"></i> CUENTAS</a>
							<ul class="nav nav-second-level">
								<li><a href="#">Cargar Cuentas</a></li>
								<li><a href="#">Consultar Cuentas</a></li>
							</ul> <!-- /.nav-second-level --></li>

						</li>
						<li><a href="menu.html"><i class="fa fa-table fa-fw"></i>
								INDICADORES </a>
							<ul class="nav nav-second-level">
								<li><a href="/crear-ind">Cargar Indicadores</a></li>
								<li><a href="/consultar-ind">Consultar Indicadores</a></li>
							</ul> <!-- /.nav-second-level --></li>
						<li><a href="menu.html"><i class="fa fa-edit fa-fw"></i>
								METODOLOGÍAS</a>
							<ul class="nav nav-second-level">
								<li><a href="/crear-met">Crear Metodologías</a></li>
								<li><a href="/consultar-met">Consultar Metodologías</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav> 

		 <div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Metodologìas</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<h2>Nombre
					<input type='text' name='nombreRgla' id='nombreRegla'></h2>
					<div class="panel panel-default">
						<div class="panel-body">
						#if(!${guardadoExitoso})
                        	<div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                Problema al guardar la Metodologia.
                            </div>
                         #end
							<table id="reglas">
								<thead>
									<tr>
										<th>Expresion</th>
										<th>Tipo</th>
										<th>Periodo</th>
									</tr>
								</thead>
								<tbody>
									<tr id='fila-regla0' data-fila-id='0' data-content='Debe ingresar una regla' data-position='right center'>
										<td><input type='text' name='regla0' id='regla0'></td>
										<td>
                                            <div class="form-group">
                                            <label class="radio-inline">
                                                <input type="radio" name="tipoRegla0" id="reglaBooleana0" value="reglaBooleana" checked>Booleana
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="tipoRegla0" id="reglaPorRatio" value="reglaRatio">Por Ratio
                                            </label>
                                        	</div>
                                        </td>
                                        <td>
                                        	<select id="periodo0">
                                        		<option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select></td>
                                        <td id='eliminar'>
											<button type='button' class='btn btn-danger removeButton' data-fila-id='0'>X</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th colspan="3">
											<input type='button' value='Agregar Regla' id='addButton' />
										</th>
										<th colspan="3">
											<!-- <button id='guardarMetodologia' onclick="guardarMetodologia();">Guardar Metodología</button> -->
											<button id='guardarMetodologia'>Guardar Metodología</button>
										</th>
									</tr>
								</tfoot>
							</table>

						 </div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->
		</div>


	</div> 
	<script type="text/javascript">
	//TODO: verificar cuadros de texto completos y que este lleno el anterior para agregar uno nuevo
		$(document).ready(function() {
			var counter = 1;
			var contadorNombre = 1;
				$("#addButton").click(function() {
					/* if (regla_anterior_correcta()) { */
						var tBodyPuntos = $("#reglas > tbody");
						var trAIngresar = "<td><input type='text' name='regla"
										  + contadorNombre
										  + "' id='regla"
										  + contadorNombre
										  + "'></td>";
										  
                        trAIngresar += "<td><div class='form-group'><label class='radio-inline'>"
                        			+ "<input type='radio' name='tipoRegla"
                        			+ contadorNombre
                        			+ "' id='reglaBooleana"
                        			+ contadorNombre
                        			+ "' value='reglaBooleana' checked>Booleana"
                        			+ "</label><label class='radio-inline'>"
                        			+ "<input type='radio' name='tipoRegla"
                        			+ contadorNombre
                        			+ "' id='reglaPorRatio' value='reglaRatio'>Por Ratio"
                        			+ "</label></div></td>";
                        trAIngresar += "<td><select id='periodo"
                        			+ contadorNombre
                        			+ "'><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option>"
                        			+ "<option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>"
                        			+ "<option>10</option></select></td>";
                     
						trAIngresar += "<td id='eliminar'><button type='button' class='btn btn-danger removeButton' data-fila-id='"
				      		           + contadorNombre
						      		   + "'>X</button></td>";
						tBodyPuntos.append("<tr id='fila-regla"
										   + contadorNombre
										   + "'data-content='Debe ingresar una regla' data-position='right center' data-fila-id='"
										   + contadorNombre
										   + "'>"
										   + trAIngresar + "</tr>");
						counter++;
						contadorNombre++;
				});
				
				$(document).on('click', '.removeButton', function() {
					if (counter == 1) {
						alert("Al menos una regla debe contener la metodologia");
						return false;
					}
					var idFila = $(this).attr('data-fila-id');
			        var tFilaABorrar = $("#reglas > tbody tr[id='fila-regla" + idFila + "']");
			        $(tFilaABorrar).remove();
			        /* if ($("#puntos-ingresados > tbody tr").length === 0) {
			            cantidadFilasPuntos = 0;
			        } else {
			            if ($("#puntos-ingresados > tbody tr").length === 1) {
			                $("#boton-calcular-coeficientes").addClass("disabled");
			            }
			        } */
					counter--;
				});
				
				$(document).on('click', '#guardarMetodologia', function() {
					var datos = "";
		            datos = document.getElementById("nombreRegla").value + ",";
					var objTabla = $('#reglas tbody').map(function (i) {
			            $(this).find('tr').each(function () {
			            	var idFila = $(this).attr('data-fila-id');
			                datos += document.getElementById("regla" + idFila).value
	     	                      + ":"
		                          + document.getElementById("reglaBooleana" + idFila).checked
		                          + ":"
		                          + document.getElementById("periodo" + idFila).value
		                    	  + "#"; 
			            });
			            return datos.substr(0,datos.length-1); 
			        }).get();
			        alert("objTabla: " + objTabla);

			        /* $.ajax({
			                url : '/guardarMetodologia',
			                data : objTabla, 
			                method : 'get',
			                datatype : 'text'
			        }); */
			        var form = $('<form action="/guardarMetodologia" method="post">' +
			        		  '<input type="hidden" name="objTabla[]" value="' + objTabla + '"></input>' + '</form>');
			        		  $('body').append(form);
			        		  $(form).submit();
			         /* $.post('/guardarMetodologia',
			                {objTabla},
			                "text"
			        ) */
				});
			});
		</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../vendor/metisMenu/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../dist/js/sb-admin-2.js"></script>

</body>
</html>